<div class="row-fluid">
  <div class="span4">
    <div class="inner">
      <h3><%= t('help.sending_a_recognition') %></h3>
      <p><%= t('help.recognitions_are_sent_to_any_yammer_user') %></p>
      <p><%=t("help.public_recognitions")%></p>
    </div>
  </div>

  <div class="span4">
    <div class="inner">
      <h3><%= t('help.public_private_recognitions') %></h3>
      <p><%= t('help.when_a_recognition_is_set_to_private') %></p>
      <p><%= t('help.if_you_share_a_recognition_and_then_make_it') %></p>
    </div>
  </div>

  <div class="span4">
    <div class="inner">
      <h3><%= t('help.points') %></h3>
      <p><%= t('help.users_get_points_for_four_different_events') %></p>
      <ul>
        <li><%= t('help.send_a_recognition_2_points') %></li>
        <li><%= t('help.receive_a_recognition_10_points') %></li>

        <li><%= t('help.send_a_1_on_a_recognition_1_points') %></li>
        <li><%= t('help.receive_a_1_on_a_recognition_5_points') %></li>
      </ul>
    </div>
  </div>
</div>