<div class="page-nav clearfix">
  <div class="title-nav">
    <h1>Nominations</h1>
  </div>

  <div class="aside-nav">
    <div class="inner">
        <% 
          badge_filter_locals = {
            badge_set: @company.company_badges.nominations.sort_by(&:short_name)
          }
        %>
        <%= render partial: "layouts/leaderboard/badge_filter", locals: badge_filter_locals %>
    </div>
  </div>
</div>


<hr class="hr-space">

  <div class="page-nav clearfix marginBottom40">
    <div class="title-nav">
      <%= render partial: "layouts/time_selector" %>
    </div>

    <div class="aside-nav">
      <div class="inner">
        <nav class="tab-nav">
          <ul>
            <li <% if params[:archive].blank? %>class="active"<% end %>><%= link_to t("dict.current"), company_admin_nominations_path %></li>
            <li <% if params[:archive].present? %>class="active"<% end %>><%= link_to t("dict.archived"), company_admin_nominations_path(archive: true) %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <% if @campaigns.present? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= t("forms.badge") %></th>
            <th><%= t("forms.date") %></th>
            <th><%= t("dict.nominees") %></th>
            <th><%= t("campaigns.archive") %></th>
            <th></th>
          </tr>
        </thead>
        <% @campaigns.each do |campaign| %>
          <% archive_text = campaign.is_archived? ? t("campaigns.unarchive") : t("campaigns.archive") %>

          <tr id="campaign-<%= campaign.id %>">
            <td class="centered"><%= image_tag campaign.badge.image_url, width: 100 %><br><%= campaign.badge.short_name %></td>
            <td class="interval"><%= reset_interval_label_with_time(campaign.interval, campaign.start_date) %></td>
            <td>
              <% campaign.nominations.each do |nomination| %>
                <div class="nomination inlineBlock">
                  <div><%= recipient_avatar(nomination.recipient) %></div>
                  <div><%= I18n.t('dict.frequency.vote', count: nomination.votes.size) %></div>
                  <div></div>
                </div>
              <% end %>
            </td>
            <td><%= link_to archive_text, archive_company_admin_campaign_path(campaign), remote: true, method: :post, class: "button button-no-chrome danger" %></td>
            <td><%= link_to "View", company_admin_campaign_path(campaign), class: "button button-no-chrome" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <h4><%= t("nominations.no_nominations_admin_title") %></h4>
  <% end %>

