<ul id="user-list" class="user-list">
    <% users.each do |user|%>
    <li>
      <div class="row-fluid">
        <div class="span1 avatar-wrapper">
          <%= link_to user_path(user), class: "users-index-avatar-link" do %>
            <%= image_tag(user.avatar.thumb, itemprop: "image", class: "avatar") %>
          <% end %>
        </div>
        <div class="span2">
          <h3><%= link_to user.full_name, user_path(user) %></h3>
          <p><%= link_to t("dict.recognize"), user_recognition_path(user, network: user.network), class: "button button-inactive marginBottom20 users-index-name-link" if page_id != "users-show" && user != current_user%></p>
        </div>

        <div class="span8">
          <% latest_recognitions = user.received_recognitions.limit(3) %>

          <% latest_recognitions.each do |recognition| %>
            <div class="marginBottom10">
              <%= link_to recognition_path(recognition) do %>
                <div class="row-fluid">
                  <div class="span3 badge">
                    <%= image_tag recognition.badge.image_url, class: "badge-image-extra-small", alt: recognition.badge.short_name %><br>
                    <%= recognition.badge.short_name %>
                  </div>
                  <div class="span9">
                    <% if recognition.message.present? %>
                      <h4 class="inline">"<%= recognition.message %>"</h4>
                      <span class="subtle-text"><%= recognition.sender.full_name %></span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>
    </li>
    <% end%>

</ul>