<h2><%= user.first_name %> <%= user.last_name %></h2>
<p><%= user.email %></p>

<ul>
  <li>
    <p>Number Sent:  <%= user.sent_recognitions.count %></p>
  </li>
  <li>
    <p>Number Received: <%= user.received_recognitions.count %></p>
  </li>    
</ul>