
<section id="intro" data-no-turbolink="true">
  <div class="inner">
    <h1 class="balance-text">Recognize Customizations</h1>
    <p class="tagline marginBottom10 balance-text">Create your own recognition badges, and more, in the Company Dashboard</p>
  </div>
  <%= render partial: "home/patterns/ice.svg" %>
</section>
<div id="points">

  <section id="teams">
    <div class="inner">
      <div class="centered">
        <h2 class="balance-text">Group staff together by team, project, or location</h2>
        <p class="tagline balance-text">Create teams with managers and employees. Discover the engagement, the badges in order, and view recognitions associated with that team.</p>
      </div>

    </div>
    <%= image_tag "pages/home-customizations/team.png", alt: "Screenshot of teams page" %>
  </section>

  <section id="white-label">
    <div class="inner">
      <div class="row-fluid">
        <div class="span6">
          <h2 class="balance-text">White label Recognize to fit your company’s brand</h2>
          <p class="tagline balance-text">In the Enterprise Package, our designers hand-implement whitelabeling for your brand by visiting your website and downloading your the logo and primary colors.</p>
        </div>
        <div class="span6">
          <%= image_tag "pages/home-customizations/theme.jpg", alt: "White label your brand" %>
        </div>
      </div>
    </div>
  </section>


  <section id="celebration-interval">
    <div class="inner">
      <div class="celebration-content">
        <div class="row-fluid">
          <div id="celebrate-content" class="span7" data-no-turbolink>
            <h2 class="balance-text">Celebration intervals</h2>
            <p class="tagline balance-text">With Recognize’s unique strategy, admins set an interval for when to highlight achievements in the organization. Then the interval point resets for new winners to rise up.</p>
            <a href="/contact" class="button button-large button-border">Contact us to learn our strategy</a>
          </div>
          <div class="span5">
            <%= image_tag "pages/home-customizations/interval-picker.png", alt: "Choose the interval that fits for you" %>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section id="choose-values" class="centered">
    <div class="inner">
      <h2 class="balance-text">Attach your company values to employee recognition</h2>
      <div class="row-fluid">
        <div class="span4">
          <div class="image-wrapper">
            <%= image_tag "pages/home-customizations/circle-plus.png", alt: "Choose our badges or upload your own" %>
          </div>
          <p class="balance-text">Upload your own or choose one of the preloaded <em>badges</em>.</p>
        </div>
        <div class="span4">
          <div class="image-wrapper">
            <%= image_tag "pages/home-customizations/five.png", alt: "Select five as how many recognitions can be sent" %>
          </div>
          <p class="balance-text"><em>Restrict</em> how often a recognition can be <em>sent or received to create scarcity</em>.</p>
        </div>
        <div class="span4">
          <div class="image-wrapper">
            <%= image_tag "pages/home-customizations/for-questioning.png", alt: "Write a description for the badge" %>
          </div>
          <p class="balance-text"><em>Write descriptions</em> for each badge for visibility across the organization</p>
        </div>
      </div>

      <a href="/recognize-starter-kit.pdf" class="button button-border">Read more about the badge functionality in the starter kit</a>
    </div>

  </section>


  <section id="your-style">
    <div class="centered">
      <h2 class="balance-text">Your company. Your style.</h2>
      <p class="tagline balance-text">Recogniz settings helps your company stay true to its employee recognition vision.</p>
    </div>
    <div class="inner">
      <div class="row-fluid">
        <div class="span6">
          <ul class="bullets">
            <li>Send message to employee’s manager via Yammer org chart.</li>
            <li>Send email  for daily recognitions</li>
            <li>Turn on privacy to only your company employees to view recognitions</li>
          </ul>
        </div>
        <div class="span6">
          <ul class="bullets">
            <li>Allow posting recognition events to Yammer wall</li>
            <li>Send email to all users who are the winners for the previous month</li>
            <li>Send email  for daily recognitions</li>
          </ul>
        </div>
      </div>
    </div>

  </section>


  <section id="right-type" class="centered">
    <div class="inner">
      <h2 class="balance-text">The right type of recognition</h2>
      <p class="tagline balance-text">Make recognition count by empowering each level of your organization. Recognize has recognitions that can be sent by only the executive role, the manager role, or by all staff.</p>
      <div class="row-fluid">
        <div class="span4">
          <div class="image-wrapper flex-centered">
            <%= image_tag "pages/home-customizations/executive.png", alt: "An executive and an employee" %>
          </div>
          <p>Executive to staff</p>
        </div>
        <div class="span4">
          <div class="image-wrapper flex-centered">
            <%= image_tag "pages/home-customizations/manager.png", alt: "A manager and a few employees" %>
          </div>
          <p>Manager to employee</p>
        </div>
        <div class="span4">
          <div class="image-wrapper flex-centered">
            <%= image_tag "pages/home-customizations/employee.png", alt: "Many employees" %>
          </div>
          <p>Employee to employee</p>
        </div>
      </div>
    </div>
  </section>


  <section id="custom-points" class="centered">
    <div class="inner">
      <h2 class="balance-text">Customize points for every action</h2>
      <p class="tagline balance-text">Users can receive points for sending recognition, clicking +1 (also called approvals), and for sending a recognition. All this is customizable to fit your program. Or turn points off completely!</p>
      <div class="row-fluid">
        <div class="span4">
          <div class="image-wrapper flex-centered">
            <%= image_tag "pages/home-customizations/0.png", alt: "Set point limit to zero" %>
          </div>
          <p>Points for sending an approval</p>
        </div>
        <div class="span4">
          <div class="image-wrapper flex-centered">
            <%= image_tag "pages/home-customizations/1.png", alt: "Set point limit to one" %>
          </div>
          <p>Points for receiving an approval</p>
        </div>
        <div class="span4">
          <div class="image-wrapper flex-centered">
            <%= image_tag "pages/home-customizations/10.png", alt: "Set point limit to ten" %>
          </div>
          <p>Points for sending a recognition</p>
        </div>
      </div>
    </div>
  </section>



  <section id="analytics">
    <div class="inner">
      <h2>Recognition analytics</h2>
      <p class="tagline">Make decisions based on top values and more.</p>
      <a href="/analytics" class="button button-highlight">See our available analytics and reports</a>
      <div class="bars clearfix">
        <% 6.times.each do %>
          <div></div>
        <% end %>
      </div>
    </div>
  </section>


</div>


<%= render :partial => 'footer' %>