<hr class="hr">
<% if @subscription.user_count.present? %>
  <h3><%= @subscription.user_count%> users on the package</h3>
  <p>$<%= @subscription.unit_price%> / user / <%= @subscription.plan.interval_noun %></p>
  <hr>

<% else %>
  <% if @subscription.plan.present? && @subscription.plan.old_tiered_plan? %>
    <h3><%= @subscription.plan.package.humanize%> Package: <%= @subscription.plan.min_users%> - <%= @subscription.plan.max_users%> users</h3>
  <% else %>
    <h3><strong><%= number_to_currency(@subscription.amount, precision: 2)%> billed <%= @subscription.charge_interval%></strong></h3>
  <% end %>
<% end %>

<% if @subscription.plan.present? && @subscription.plan.old_tiered_plan? %>
  <p style="font-weight:bold">Total: $<%= number_with_precision(@subscription.recurring_cost, precision: 2)%> / <%= @subscription.plan.interval_noun %></p>
<% else %>
  <p style="font-weight:bold">Total: $<%= number_with_precision(@subscription.amount || @subscription.recurring_cost, precision: 2)%> / <%= @subscription.charge_interval_noun %></p>
<% end %>


<% if @subscription.plan.present? %>
  <h3>Next Invoice</h3>
  <% if @next_invoice %>
    <p><%= @next_invoice.date%> - $<%= number_with_precision(@next_invoice.amount_due, precision: 2) %></p>
  <% else %>
    <p>None</p>
  <% end %>

  <h3>Previous Invoice</h3>
  <ul>
    <% @subscription.invoices.each do |i| %>
      <li><%= i.date%> - $<%= number_with_precision(i.amount_due, precision: 2)%></li>
    <% end %>
  </ul>
<% end %>

<hr class="hr marginBottom40">
