<% content_for :title, "Contact Us" %>
<%= render_flash %>
<div class="form-centered" itemscope itemtype="https://schema.org/ContactPage">

  <% if params[:type] == 'feedback' %>
    <h1 itemprop="name" class="balance-text"><%= t("support_emails.feedback")%></h1>
    <p itemprop="description"><%= t("support_emails.we_take_feedback")%></p>
  <% elsif @body.present? %>
    <h1 class="balance-text"><%=t("support_emails.learn_more")%></h1>
    <p><%= t('support_emails.schedule_a_demo')%></p>
  <% else %>
    <h1 itemprop="name" class="balance-text"><%= t("support_emails.please_contact_us")%></h1>
    <p itemprop="description"><%= t("support_emails.if_you_have_a_sales_support_or_general_inqui_html")%></p>
  <% end %>

  <%= form_for @support_email, remote: true, html: {class: "form-vertical form", data: {errorWrapper: "#contact-error-wrapper"}} do |f|%>

    <nav class="tab-nav">
      <ul class="clearfix">
        <li class=""><%= link_to "Sales inquiry", contact_sales_path %></li>
        <li class="active"><%= link_to "Support", contact_path %></li>
      </ul>
    </nav>
    <div id="contact-error-wrapper"></div>
  

    <div id="fullName" class="control-group">
      <%= f.text_field :name, placeholder: t("support_emails.name"), value: (@current_user.full_name unless !@current_user)%>
    </div>

    <div class="row-fluid">
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <%= f.email_field :email, placeholder: t("support_emails.email"), value: (@current_user.email unless !@current_user) %>

          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%= f.text_field :phone, placeholder: t("support_emails.optional_phone") %>
            <span class="help-block">If your company has strong email spam filters, we recommend providing your telephone.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group marginTop10">
      <%= f.text_area :message, rows: 10, placeholder: t("support_emails.whats_on_your_mind"), value: @body %>
    </div>

    <%= f.hidden_field :type, value: "Support" %>

    <div class="control-group">
      <%= f.submit t("dict.send"), class:'button button-primary button-large' %>
    </div>
  <% end %>
</div>
