<% 
  ps = defined?(param_scope) ? param_scope : nil
  presenter = date_range_presenter(ps) 
%>
<div class="date-range clearfix">
  <div class="left">
    <div class="button-group">
      <%= presenter.interval_buttons %>
    </div>
    <div class="interval-selects">
      <%= presenter.interval_select(Interval.monthly) %>
      <%= presenter.interval_select(Interval.quarterly) %>
      <%= presenter.interval_select(Interval.yearly) %>
      <%= presenter.custom_date_range_selector %>
    </div>
  </div>
  <div class="selected-heading left">
    
  </div>
</div>
