<h2>A new <%= @support_email.type%> email has been submitted through the Recognize contact form</h2>
<h3>From: </h3>
<p><%= @support_email.name%> | <%= @support_email.email%></p>

<h3>Phone:</h3>
<p><%= @support_email.phone %></p>

<h3>Message</h3>
<p><%= @support_email.message%></p>