<tr id="user-row-<%= user.id%>">
  <td class="hidden">SK-<%= @sort_key_prefix + "-"+user.full_name.to_s.gsub(" ",'').gsub(/\@.*$/,'') %>-SK</td>
  <td class="hidden">
    <%= user_form.hidden_field :id %>
    <%= user.full_name %>
  </td>
  <td class="offscreen">
    <% if user.persisted? %>
      <%= check_box_tag "bulk_user_updater[#{user.to_param}][update]" %>
    <% else %>
      <%= check_box_tag "bulk_user_updater[#{user.to_param}][create]" %>
    <% end %>
  </td>
  <td data-order="<%= user.first_name%>"><%= user_form.text_field :first_name %></td>
  <td data-order="<%= user.last_name%>"><%= user_form.text_field :last_name %></td>
  <td data-order="<%= user.email%>"><%= user_form.text_field :email %></td>
  <% if @bulk_user_updater.can_edit?(:department) %>
    <td data-order="<%= user.network%>"><%= user_form.select :network, company_family_set %></td>
  <% end %>
  <td data-order="<%= user.job_title%>"><%= user_form.text_field :job_title %></td>
  <!-- <td><%= link_to "Roles", "javascript://none" %></td>-->
</tr>